<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-gray-100 flex flex-col gap-y-4 justify-center items-center h-screen">
    <!-- <h1 class="text-3xl font-medium">goofyah</h1> -->
     <img class="h-20" src="public/goofyah_logo.png" alt="">