<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="bg-gray-100 p-4 flex flex-col gap-y-4">
    <nav class="bg-white px-4 py-2 flex justify-between items-center ">
        <div class="text-xl items-center">
            {{ .title }} Page
        </div>
        <div class="flex gap-x-4 items-center text-white">
            <a class="px-2 py-1 rounded-md shadow-md bg-indigo-500" href="/">Home</a>
            <a class="px-2 py-1 rounded-md shadow-md bg-indigo-500" href="/users">Users</a>
        </div>
    </nav>