{{ template "header.html" . }}
<h1 style="font-size: 60px">
    Today's Goal
</h1>

{{ if .goals }}
    {{ range .goals }}
    <div class="bg-white rounded-md shadow-md px-40 py-2">
        {{ .Title }}
    </div>
    {{ end }}
{{ else }}
    <div class="bg-white rounded-md shadow-md px-40 py-2">
        No goals for today.
    </div>
{{ end }}

<div class="bg-white rounded-md shadow-md px-40 py-2">
    <a href="goals/addNewGoal" class="text-blue-500 font-medium">
        + Add Goal
    </a>
</div>
{{ template "footer.html" . }}
