{{ template "header.html" . }}

<h1 class="text-3xl font-bold mb-6">List of Categories</h1>

<form method="POST" action="/categories/listcategories" class="p-8 rounded shadow-md">
    <div class="mb-4 flex items-center">
        <input 
            type="text" 
            id="title" 
            name="title" 
            placeholder="Category Title" 
            class="flex-1 border border-gray-300 p-2 rounded mr-2" 
            required>
        <button 
            type="submit" 
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 font-bold text-lg">
            +
        </button>
    </div>
</form>


{{ if .Categories }}
    {{ range .Categories }}
        <div class="bg-white rounded-md shadow-md px-40 py-2">
            {{ .Title }} <!-- Display the category title -->
        </div>
    {{ end }}
{{ else }}
    <div class="bg-white rounded-md shadow-md px-40 py-2">
        No categories created yet.
    </div>
{{ end }}
