{{ template "header.html" . }}

<h1 class="mb-6 text-3xl font-bold">Goals for {{ .category.Title }}</h1>

{{ if .goals }}
    <ul class="space-y-4">
        {{ range .goals }}
        <div class="mb-5 flex justify-between items-center bg-white p-3 rounded-lg shadow-md w-96">
            <div class="flex gap-x-2 items-center">
                <span class="text-lg font-semibold">{{ .Title }}</span>
                <a href="/goals/{{ .ID }}" class="bg-yellow-200 px-2 py-1 rounded-md w-fit text-sm">Description</a>
            </div>
        
            <form method="POST" action="/goals/delete/{{ .ID }}" class="ml-4">
                <button 
                    type="submit" 
                    class="px-4 py-2 bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 transition-colors duration-300">
                    Delete
                </button>
            </form>
        </div>
        {{ end }}
    </ul>
{{ else }}
    <p class="text-gray-500">No goals found for this category.</p>
{{ end }}
<a href="/categories/listcategories" class="mt-4 inline-block text-blue-600 hover:underline">← Back to Categories</a>
