{{ template "header.html" . }}

<div class="bg-white rounded-md shadow-md px-4 py-2 w-full">
    <form action="/users/{{ .user.ID }}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium">Name:</label>
            <input type="text" id="name" name="name" value="{{ .user.Name }}" required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 block w-1/2 px-4 py-2">
        </div>
        <div class="mb-5"></div>
            <label for="email" class="block mb-2 text-sm font-medium">Email:</label>
            <input type="text" id="email" name="email" value="{{ .user.Email }}" required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md shadow-md focus:ring-indigo-500 focus:border-indigo-500 block w-1/2 px-4 py-2">
        </div>
        <button class="mt-4 bg-indigo-500 w-fit rounded-md shadow-md px-4 py-2 text-white" type="submit">Edit User</button>
    </form>
    <form action="/users/{{ .user.ID }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button class="mt-4 bg-indigo-500 w-fit rounded-md shadow-md px-4 py-2 text-white" type="submit">Delete User</button>
    </form>
</div>
{{ template "footer.html" . }}