{{ template "header.html" . }}

<form method="POST" action="/user" class="flex flex-col p-4 w-96"></form>

    <div class="mb-2">
        <label for="name" class="block text-sm font-medium">Name</label>
        <input type="text" name="name" value="{{ .user.Name }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 focus:ring-sky-500 focus:border-sky-500" >
    </div>
    <div class="mb-2">
        <label for="email" class="block text-sm font-medium">Email</label>
        <input type="email" name="email" value="{{ .user.Email }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 focus:ring-sky-500 focus:border-sky-500" >
    </div>
    <div class="mb-2">
        <label for="password" class="block text-sm font-medium ">Password</label>
        <input type="password" name="password" placeholder="New password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 focus:ring-sky-500 focus:border-sky-500" >
    </div>
    <button type="submit" class="w-full text-white bg-sky-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 focus:ring-sky-500 focus:border-sky-500">Register</button>
    <a href="/login" class="underline text-zinc-500 text-center">Login instead</a>
</form>
<form method="POST" action="/logout"></form>
    <button type="submit" class="bg-red-500 px-4 py-2 rounded-md shadow-md text-white font-medium">Logout</button>
</form>
{{ template "footer.html" . }}
